<footer>
    <div class="cnt _bg _radius _aos _py-1">
        <div class="grid">
            <div>
                <a href="https://github.com/ArashSr/addtester">AdBlock Tester</a> © <%= new Date().getFullYear() %>
            </div>
        </div>
    </div>
</footer>